.Menu {
    color: white !important;
    text-decoration: none;
}

.Nav {
    padding: 15pt;
    background-color: rgb(35, 20, 53);
    margin-bottom: 10px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 100;
}

.link {
    color: rgb(194, 194, 194);
}

.link:hover {
    color: rgb(255, 255, 255);
}

.logo {
    width: 50px;
    margin-right: 15px;
}