.ButtonAdd {
    background-color: rgb(154, 65, 206);
    border: transparent;
    width: 50rem;
}

.ButtonAdd:hover {
    background-color: rgb(113, 46, 151);
    border: transparent;
}

.Input-txt {
    background-color: rgb(30, 19, 44);
    border: transparent;
}

.Input-txt:active, .Input-txt::selection {
    background-color: rgb(40, 25, 59);
    border: transparent;
}

.gameImage {
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.neon {
    color:rgb(255, 255, 255);

  }

  .inline-svg {
    width: auto;
    height: auto;
    border: 5px solid white;
    border-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='50' height='50'><defs><linearGradient id='redgradient'><stop offset='0' stop-color='%233B0300'/><stop offset='0.362' stop-color='%23AF1644'/><stop offset='1' stop-color='%233B0300'/></linearGradient></defs><g id='Layer_1'><path d='M0,0 L50,0 L50,50 L0,50 L0,0 z' fill='url(%23redgradient)' width='100%' height='100%'/></g></svg>") 10% stretch;
  }