.item {
    background-color: rgb(35, 20, 53);
    border-radius: 5pt;
    color: white;
    padding: 5pt;
    width: 22rem;
}

.item-a:hover{
    text-decoration: none;
    color: white;
}

.gameImg {
    border-radius: 5pt;
}

.alinea{
    text-align: center !important;
}
a{
  color: white;
}

.button-delete{
    border-color: #7C0032;
    background-color:#7C0032;
    color: white;
    border-radius: .5rem;
    width: auto;
    margin-bottom: 5%;
    width: 15%;
    border: 0px;
    padding: 10px;
    padding-right: 5px;
    height: 100%;
    float: right;
}