.item {
    background-color: rgb(35, 20, 53);
    border-radius: 5pt;
    color: white;
    padding: 5pt;
    width: 22rem;
    height: 33rem;
    padding-left: 25px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.item-a:hover{
    text-decoration: none;
    color: white;
}

.negritas{
    font-weight: bold;
}

.gameImg {
    border-radius: 3pt;
    width: 12rem;
    height: 8rem;
}

.alinea{
    text-align: center !important;
}
a{
  color: white;
}

.button-delete{
    border-color: #7C0032;
    background-color:#7C0032;
    color: white;
    border-radius: .5rem;
    width: 18%;
    margin-bottom: 5%;
    border: 0px;
    padding: 10px;
    padding-right: 5px;
    height: 100%;
    float: right;
}
